/* src/styles/MainMenu.css */
.main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../images/mainMenuBackground.gif') no-repeat center center;
  background-size: cover;
  color: #e0e0e0;
  text-align: center;
  cursor: url('../images/cursor.webp'), auto;
  overflow: hidden;
  z-index: 0; /* Fondo en el nivel más bajo */
}

.game-title {
  font-family: 'Creepster', cursive;
  font-size: 5rem;
  margin-bottom: 50px;
  text-shadow: 4px 4px 8px rgba(255, 0, 0, 0.7);
  cursor: default;
  z-index: 2; /* Por encima de las partículas */
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los botones */
  align-items: center; /* Centra los botones horizontalmente */
  z-index: 3; /* Por encima de las partículas */
}

/* Adaptación para dispositivos móviles */
@media (max-width: 768px) {
  .game-title {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .buttons {
    gap: 15px;
  }
}
