/* src/styles/OptionButtons.css */

.option-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 2px solid #ff0000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  font-family: 'Creepster', cursive;
}

.option-button:hover {
  background-color: rgba(255, 0, 0, 0.2);
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff0000;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 768px) {
  .option-button {
    padding: 8px 16px;
    font-size: 1rem;
  }
}
